# Fetching data from the Api
Using Iex Cloud

saving it to csv

In [2]:
!pip install pyEX

Collecting pyEX
  Using cached pyEX-0.5.0-py2.py3-none-any.whl (163 kB)
Requirement already satisfied: Pillow>=5.3.0 in c:\programdata\anaconda3\lib\site-packages (from pyEX) (7.0.0)
Collecting sseclient>=0.0.22
  Using cached sseclient-0.0.27.tar.gz (7.5 kB)
Requirement already satisfied: ipython>=7.2.0 in c:\programdata\anaconda3\lib\site-packages (from pyEX) (7.12.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from pyEX) (1.14.0)
Collecting socketIO-client-nexus>=0.7.6
  Using cached socketIO_client_nexus-0.7.6-py2.py3-none-any.whl (22 kB)
Collecting temporal-cache>=0.1.1
  Using cached temporal_cache-0.1.4-py2.py3-none-any.whl (17 kB)
Collecting deprecation>=2.0.6
  Using cached deprecation-2.1.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: requests>=2.21.0 in c:\programdata\anaconda3\lib\site-packages (from pyEX) (2.22.0)
Requirement already satisfied: pytz>=2019.1 in c:\programdata\anaconda3\lib\site-packages (from pyEX) (2019.3)
Requirement already satisfied: pandas>=0.22 in c:\programdata\anaconda3\lib\site-packages (from pyEX) (1.2.3)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython>=7.2.0->pyEX) (0.1.0)
Requirement already satisfied: traitlets>=4.2 in c:\programdata\anaconda3\lib\site-packages (from ipython>=7.2.0->pyEX) (4.3.3)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\programdata\anaconda3\lib\site-packages (from ipython>=7.2.0->pyEX) (0.4.3)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython>=7.2.0->pyEX) (0.7.5)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from ipython>=7.2.0->pyEX) (2.5.2)
Requirement already satisfied: jedi>=0.10 in c:\programdata\anaconda3\lib\site-packages (from ipython>=7.2.0->pyEX) (0.14.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=7.2.0->pyEX) (3.0.3)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=7.2.0->pyEX) (4.4.1)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=7.2.0->pyEX) (45.2.0.post20200210)
Collecting websocket-client
  Using cached websocket_client-1.0.1-py2.py3-none-any.whl (68 kB)
Collecting frozendict>=1.2
  Using cached frozendict-2.0.2-py3-none-any.whl (8.3 kB)
Requirement already satisfied: tzlocal>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from temporal-cache>=0.1.1->pyEX) (2.1)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from deprecation>=2.0.6->pyEX) (20.1)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.21.0->pyEX) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.21.0->pyEX) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.21.0->pyEX) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.21.0->pyEX) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.22->pyEX) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.22->pyEX) (1.20.0)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\lib\site-packages (from traitlets>=4.2->ipython>=7.2.0->pyEX) (0.2.0)
Requirement already satisfied: parso>=0.5.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=7.2.0->pyEX) (0.5.2)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.2.0->pyEX) (0.1.8)
Requirement already satisfied: pyparsing>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from packaging->deprecation>=2.0.6->pyEX) (2.4.6)
Building wheels for collected packages: sseclient
  Building wheel for sseclient (setup.py): started
  Building wheel for sseclient (setup.py): finished with status 'done'
  Created wheel for sseclient: filename=sseclient-0.0.27-py3-none-any.whl size=5576 sha256=df0c817519d59645b45f52939fb89cfff29fa5cbbbca5d011e895876f916f990
  Stored in directory: c:\users\gst\appdata\local\pip\cache\wheels\07\67\7e\96edf627ac746de1a5c5cbb8d59ed960f033b8352dc12c545d
Successfully built sseclient
Installing collected packages: sseclient, websocket-client, socketIO-client-nexus, frozendict, temporal-cache, deprecation, pyEX
Successfully installed deprecation-2.1.0 frozendict-2.0.2 pyEX-0.5.0 socketIO-client-nexus-0.7.6 sseclient-0.0.27 temporal-cache-0.1.4 websocket-client-1.0.1

In [3]:
import pyEX as p
c = p.Client(api_token='pk_53f6f55f51234bc594c5aaee57dbf2a3', version='stable')

In [47]:
sym='MSFT'
timeframe='1y'
df2 = c.chartDF(symbol=sym, timeframe=timeframe)[['open','low','close', 'volume']]
df2

               open     low   close    volume
date
2021-05-25  251.769  250.82  251.72  17704303
2021-05-24  247.785  247.51  250.78  21411547
2021-05-21  247.565  244.74  245.17  21863058
2021-05-20  243.960  243.86  246.48  21800716
2021-05-19  239.310  238.60  243.12  25739807
...             ...     ...     ...       ...
2020-06-01  182.540  181.46  182.83  22668821
2020-05-29  182.730  180.41  183.25  42146720
2020-05-28  180.740  180.38  181.40  33831824
2020-05-27  180.200  176.60  181.81  39517146
2020-05-26  186.340  181.10  181.57  36073609

[253 rows x 4 columns]

In [28]:
df.reset_index(inplace=True)

In [29]:
df

          date     open     low   close    volume
0   2021-05-25  251.769  250.82  251.72  17704303
1   2021-05-24  247.785  247.51  250.78  21411547
2   2021-05-21  247.565  244.74  245.17  21863058
3   2021-05-20  243.960  243.86  246.48  21800716
4   2021-05-19  239.310  238.60  243.12  25739807
..         ...      ...     ...     ...       ...
248 2020-06-01  182.540  181.46  182.83  22668821
249 2020-05-29  182.730  180.41  183.25  42146720
250 2020-05-28  180.740  180.38  181.40  33831824
251 2020-05-27  180.200  176.60  181.81  39517146
252 2020-05-26  186.340  181.10  181.57  36073609

[253 rows x 5 columns]

In [30]:
df.to_csv('test.csv')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    253 non-null    datetime64[ns]
 1   open    253 non-null    float64
 2   low     253 non-null    float64
 3   close   253 non-null    float64
 4   volume  253 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 10.0 KB

# taking test.csv and train.csv as MSFT data set and trying to define a function to pre-process all the data

In [60]:
def pre_process(df):
    #df.reset_index(inplace=True) #make it true
    print(df)
    
    #return df


#pre_process(df)

In [61]:
if __name__ == "__main__":
    #print("success")
    pre_process(df2)

     level_0  index       date     open     low   close    volume
0          0      0 2021-05-25  251.769  250.82  251.72  17704303
1          1      1 2021-05-24  247.785  247.51  250.78  21411547
2          2      2 2021-05-21  247.565  244.74  245.17  21863058
3          3      3 2021-05-20  243.960  243.86  246.48  21800716
4          4      4 2021-05-19  239.310  238.60  243.12  25739807
..       ...    ...        ...      ...     ...     ...       ...
248      248    248 2020-06-01  182.540  181.46  182.83  22668821
249      249    249 2020-05-29  182.730  180.41  183.25  42146720
250      250    250 2020-05-28  180.740  180.38  181.40  33831824
251      251    251 2020-05-27  180.200  176.60  181.81  39517146
252      252    252 2020-05-26  186.340  181.10  181.57  36073609

[253 rows x 7 columns]

In [3]:
import pandas as pd

In [4]:
df2 = pd.read_csv('test.csv')

In [5]:
df2.info(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  253 non-null    int64
 1   date        253 non-null    object
 2   open        253 non-null    float64
 3   low         253 non-null    float64
 4   close       253 non-null    float64
 5   volume      253 non-null    int64
dtypes: float64(3), int64(2), object(1)
memory usage: 12.0+ KB